<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="index,follow">
<meta name="keywords" content="幫助網,幫助網,幫助網,幫助網,幫助網" />
<meta name="description" content="幫助網幫助網幫助網幫助網幫助網幫助網幫助網幫助網幫助網幫助網" />
<title>幫助網</title>
<link href="css/mian.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.script.js"></script>
</head>

<body>
<header>
 <div class="wrapper">
  <h1><a href="#"><img src="images/logo.png"/></a></h1>
  <div class="column">
   <div class="gotop"><a href="#">gotop</a></div>
   <div class="language">
    <form>
     <select>
      <option>繁體中文</option>
      <option>简体中文</option>
      <option>ENGLISH</option>
     </select>
    </form>
   </div>
   <div class="link"><a href="#">返回網站</a></div>
   <div class="user">abc123@gmail.com</div>
  </div>
 </div>
</header>
<div class="content">
 <div class="submenu">
  <ul>
   <li class="now"><a href="index.htm">控制台首頁</a></li>
   <li><a href="set.htm">設定</a>
    <ul>
     <li><a href="#">個人資料</a></li>
     <li><a href="#">收款資料</a></li>
     <li><a href="#">修改密碼</a></li>
    </ul>
   </li>
   <li><a href="helpAndGetHelp.htm">互助中心</a>
    <ul>
     <li><a href="helpAndGetHelp.htm">幫助與被幫助</a></li>
     <li><a href="#">幫助列表</a></li>
     <li><a href="helped.htm">被幫助列表</a></li>
    </ul>
   </li>
   <li><a href="#">收益報表</a>
    <ul>
     <li><a href="#">收益明細</a></li>
     <li><a href="#">收益列表</a></li>
    </ul>
   </li>
   <li><a href="partnerMember.htm">我的夥伴</a>
    <ul>
     <li><a href="#">夥伴樹狀圖</a></li>
     <li><a href="partnerMember.htm">我的夥伴</a></li>
    </ul>
   </li>
   <li><a href="siteMessage.htm">站內訊息 (0)</a></li>
   <li><a href="#">網站公告</a></li>
   <li><a href="#">登出</a></li>
  </ul>
 </div>
 <div class="container">
  <div class="news">
   <h2>網站公告</h2>
   <a href="#" class="more">&raquo; MORE</a>
   <dl>
    <a href="#">
    <dt>這裡是標題</dt>
    <dd>這裡是內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</dd>
    <p>[ 2016/01/02 ]</p>
    </a>
   </dl>
   <dl>
    <a href="#">
    <dt>這裡是標題</dt>
    <dd>這裡是內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</dd>
    <p>[ 2016/01/02 ]</p>
    </a>
   </dl>
   <div class="bill">
    <h3>獎金概況</h3>
    <ul>
     <li>本日 <em>000</em></li>
     <li>本周 <em>000</em></li>
     <li>本月 <em>000</em></li>
     <li>總累計 <em>000</em></li>
    </ul>
   </div>
   <div class="group">
    <h3>夥伴人數</h3>
    <ul>
     <li>本日 <em>000</em></li>
     <li>本周 <em>000</em></li>
     <li>本月 <em>000</em></li>
     <li>總累計 <em>000</em></li>
    </ul>
   </div>
  </div>
  <div class="sidebar">
   <ul class="btn">
    <li><a href="#">提供幫助</a></li>
    <li><a href="#">得到幫助</a></li>
   </ul>
   <ul class="data">
    <li><em>目前等級</em>一般會員</li>
    <li><em>上次登入時間</em>2016/01/02 12:20:30</li>
    <li><em>上次登入IP</em>212.108.11.12</li>
   </ul>
  </div>
  <div class="list">
   <h2>待處裡幫助</h2>
   <a href="#" class="more">&raquo; MORE</a>
   <div class="tablebox">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
     <tr>
      <td>被幫助人</td>
      <td>幫助狀態</td>
      <td>幫助金額</td>
      <td>配對時間</td>
      <td>到期時間</td>
      <td>選項</td>
      <td>&nbsp;</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td class="mark">訊息(<strong>3</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
    </table>
   </div>
  </div>
  <div class="list">
   <h2>待處裡被幫助</h2>
   <a href="#" class="more">&raquo; MORE</a>
   <div class="tablebox">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
      <td>幫助人</td>
      <td>幫助狀態</td>
      <td>幫助金額</td>
      <td>配對時間</td>
      <td>到期時間</td>
      <td>選項</td>
      <td>&nbsp;</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em class="undone">剩餘時間12小時</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em>已付款</em></td>
      <td><a href="#">投訴</a> <a href="#">匯款明細</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em>已付款</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em>已付款</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em>已付款</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em>已付款</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em>已付款</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em>已付款</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em>已付款</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
     <tr>
      <td>王小明</td>
      <td>未付款</td>
      <td>1000USD</td>
      <td>2016/01/02 19:20</td>
      <td>2016/01/03 19:20<em>已付款</em></td>
      <td><a href="#">詳細資料</a></td>
      <td>訊息(<strong>0</strong>)</td>
     </tr>
    </table>
   </div>
  </div>
 </div>
</div>
<footer> Copyright © abc.com all rights reserve </footer>
</body>
</html>
