<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="index,follow">
<meta name="keywords" content="幫助網,幫助網,幫助網,幫助網,幫助網" />
<meta name="description" content="幫助網幫助網幫助網幫助網幫助網幫助網幫助網幫助網幫助網幫助網" />
<title>幫助網 - 設定</title>
<link href="css/mian.css" rel="stylesheet" type="text/css">
<link href="css/info.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.script.js"></script>
</head>

<body>
<header>
 <div class="wrapper">
  <h1><a href="#"><img src="images/logo.png"/></a></h1>
  <div class="column">
   <div class="gotop"><a href="#">gotop</a></div>
   <div class="language">
    <form>
     <select>
      <option>繁體中文</option>
      <option>简体中文</option>
      <option>ENGLISH</option>
     </select>
    </form>
   </div>
   <div class="link"><a href="#">返回網站</a></div>
   <div class="user">abc123@gmail.com</div>
  </div>
 </div>
</header>
<div class="content">
 <div class="submenu">
  <ul>
   <li><a href="index.htm">控制台首頁</a></li>
   <li class="now"><a href="set.htm">設定</a>
    <ul>
     <li><a href="#">個人資料</a></li>
     <li><a href="#">收款資料</a></li>
     <li><a href="#">修改密碼</a></li>
    </ul>
   </li>
   <li><a href="helpAndGetHelp.htm">互助中心</a>
    <ul>
     <li><a href="helpAndGetHelp.htm">幫助與被幫助</a></li>
     <li><a href="#">幫助列表</a></li>
     <li><a href="helped.htm">被幫助列表</a></li>
    </ul>
   </li>
   <li><a href="#">收益報表</a>
    <ul>
     <li><a href="#">收益明細</a></li>
     <li><a href="#">收益列表</a></li>
    </ul>
   </li>
   <li><a href="partnerMember.htm">我的夥伴</a>
    <ul>
     <li><a href="#">夥伴樹狀圖</a></li>
     <li><a href="partnerMember.htm">我的夥伴</a></li>
    </ul>
   </li>
   <li><a href="siteMessage.htm">站內訊息 (0)</a></li>
   <li><a href="#">網站公告</a></li>
   <li><a href="#">登出</a></li>
  </ul>
 </div>
 <div class="container"> 
  
  <!--path-->
  <div class="path"><a href="#">首頁</a> &gt; <a href="#">設定</a></div>
  
  <!--list-->
  <div class="list">
   <nav class="set">
    <h2 class="set-title">個人資料</h2>
    <form>
     <nav>
      <p>暱稱：
       <input type="text" value="友友友">
       <input type="button" value="更改暱稱" class="button">
      </p>
      <p>Email：gjigjig@gmail.com</p>
      <p>手機號碼：886921123321</p>
      <p>Skype：iqw111</p>
      <p>帳戶狀態：激活</p>
      <p>等級：一般會員</p>
     </nav>
     <nav>
      <p>註冊時間：2016-01-02</p>
      <p>直屬上線：gjigji@gmail.com</p>
      <p>上次登入時間：2016/01/02 09:20</p>
      <p>上次登入IP：202.109.32.18</p>
      <p>複製連結： <strong class="website-link">http://abc.com/<span class="blue">****</span></strong>
       <input type="button" value="複製連結" class="button">
      </p>
     </nav>
    </form>
   </nav>
  </div>
  
  <!--list-->
  <div class="list">
   <nav class="set">
    <h2 class="set-title">登入資料 ( *必填欄位 )</h2>
    <form>
     <p>您如果想更改電子郵件地址，请填寫下列欄位。出於安全原因請同時填寫密碼。</p>
     <p>你目前的電子信箱地址是：123456@gmail.com</p>
     <p>* 目前密碼：
      <input type="text" value="" class="long">
     </p>
     <p>* 新電子信箱地址：
      <input type="text" value="" class="long">
     </p>
     <p>* 再次輸入新電子信箱地址：
      <input type="text" value="" class="long">
     </p>
     <input type="button" value="更新資料" class="button" style="display:block; margin:20px auto;">
     <hr>
     <p>* 舊密碼：
      <input type="text" value="" class="long">
     </p>
     <p>* 新密碼：
      <input type="text" value="" class="long">
     </p>
     <p>* 新密碼確認：
      <input type="text" value="" class="long">
     </p>
     <p>* 比特幣地址：
      <input type="text" value="" class="long">
     </p>
     <input type="button" value="更新資料" class="button" style="display:block; margin:20px auto;">
    </form>
   </nav>
  </div>
 </div>
</div>
</div>
<footer> Copyright © abc.com all rights reserve </footer>
</body>
</html>
